.bezierizer-canvas-container {
  border: solid 1px #000;
  height: 290px;
  position: relative;
  width: 290px;
}

  .bezierizer-canvas-container canvas {
    height: 290px;
    width: 290px;
  }

  .bezierizer-canvas-container .bezierizer-handle {
    background: #bbb;
    border-radius: 10px;
    border: solid 1px #333;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
  }

  .bezierizer-canvas-container .bezierizer-handle:focus {
    outline: none;
  }
